body {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
  min-height: 200px;
  padding-top: 70px;
}

.breadcrumb {
  background-color: #1f1f1f; /* Fondo oscuro para el breadcrumb */
  color: #e0e0e0;
}

.breadcrumb a {
  color: #5a5927; /* Enlaces en amarillo */
}

.breadcrumb a:hover {
  color: #5b5c16; /* Enlaces al pasar el cursor */
}

.btn-default {
  background-color: #333333; /* Fondo oscuro para botones */
  color: #e0e0e0;
  border: 1px solid #444444;
}

.btn-default:hover {
  background-color: #444444;
  color: #ffffff;
}

.container {
  background-color: #1a1a1a; /* Fondo oscuro para el contenedor */
  padding: 20px;
  border-radius: 8px;
}

.outer_div {
  background-color: #1f1f1f; /* Fondo oscuro para los datos cargados */
  padding: 10px;
  border-radius: 8px;
}

.breadcrumb-container {
  text-align: center; /* Centra el contenido horizontalmente */
}

.breadcrumb {
  display: inline-block; /* Hace que el breadcrumb ocupe solo el espacio necesario */
}